h1 {
    /* color: red ;
    color: blue;
    color: magenta;
    color: antiquewhite; */
    color: rgb(255,20,180);
}
h2 {
    color : rgb(100 ,0,150);
}
h3  {
    color : rgb(0,0,0);
}
h4{
    color: rgb(120,0,120);
}