*{
    background-color: bisque;
}
p {
    color: brown;
    font-weight: bolder;
    text-decoration: overline;
}
h2{
    color: teal;
    font-weight: bold;
    text-decoration: underline;
}
h1{
    color: red;
    text-align: center;
    text-decoration: line-through;
}
