h1 {
    color : red ;
}
#byte {
    color: green;
} 
.curious{
    color: blue;
}


#name {
    color: aqua;
}
.nam {
    color: brown;
}
h2 {
    color: chocolate;
}

p{
    color: green;
}
p{
    color: rgb(254, 140, 0);
}

