div {
    color: red ;
    background-color: teal;
}

h1 {
    color: green;
}


button {
    background-color: inherit;
    color: aliceblue;
}
input{
    background-color: inherit;
    color: aliceblue;
}

