* {
    font-family: 'Courier New',arial;
    /* font-family: arial;
    font-family: arial black;
    text-decoration: none;
    text-decoration: underline gray; */
}
/*  Element Selector  */

h3 {
    color: purple;
}
h1 , h3 {
    color: #b92b27;
}

/*  id selector  */

#login{
    background-color: white;

}
#signup {
    background-color: #b92b27;
    color: white;
}


/*  Class selector  */

.follow {
    color: #b92b27;
}
.upvote {
    background-color: green;
    color: aliceblue;
}

/*  practice question */
div[id="myId"] p {
    color:  green;

}

/*  descendant selector  */
p a {
    color: blue;
}

/*  Adjacent Sibling combinators  */

p + h3 {
    text-decoration: underline;
}
.upvote + button {
    background-color: cornflowerblue;
    color: darkblue;
}

/*  Child Combinator */
div > input {
    background-color: coral;
    color: aliceblue;
}

/*  Attribute selector */

input[type="text"]{
    background-color: #b92b27;
    color: aqua;
}
input[type="password"]{
    background-color: green;
    color: antiquewhite;
}

/*  Pseudo class  */
button:hover {
    background-color: black;
    color : green ;
}
h3:hover {
    text-decoration: none;
}
button:active {
    background-color: pink;
}

p:active{
    font-weight: bold;
    color: green;
}

input[type="radio"]:checked + label {
    color: red;
    font-weight: bold;
}

/*  nth-of-type pseudo class */
div:nth-child(2){
    background-color: #b92b27;
}
