#outer {
    background-color: green;
    height: 100px;
    width: 100px;
    margin-left: 50px;
    margin-top: 50px;
    border: 2px solid black;
}

#inner {
    background-color: red;
    height: 70%;
    width: 70%;
    border: 2px solid black;
}

#inner2 {
    background-color: rgb(255, 208, 0);
    height: 70%;
    width: 70%;
    border: 2px solid black;
}

#inner3 {
    background-color: rgb(255, 0, 136);
    height: 70%;
    width: 70%;
    border: 2px solid black;
}